# Node.js
node_modules/
.env

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Sistema
.DS_Store
Thumbs.db

# Opcional: editor/IDE
.vscode/
.idea/
*.swp

# Archivos temporales
*.tmp
*.bak
*.old

# Sistema operativo
ehthumbs.db
desktop.ini

